<a href="https://colab.research.google.com/github/RealMyeong/python3-study/blob/main/baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#----백준 2525 파이썬 스마트 오븐------
#현재 시각
time, min = map(int, input().split())
#요리에 소요되는 시간
need_time = int(input())
add_time = need_time + min
def food():
  if (time + add_time//60) < 24 :
    if add_time > 60 : 
      time2 = time + add_time//60
      min = add_time%60
      print(time2, min)
    else:
      print(time, add_time)     
  elif (time + (add_time//60)) >= 24:
    time2 = (time + (add_time//60)) - 24
    min = add_time % 60
    print(time2, min)

  else:
    print(time, add_time)

food()

In [ ]:
#----백준 2530 인공지능 시계----
# 초가 60이 넘어갔을때를 고려를 안해서 틀림
'''time, min, sec = map(int, input().split())
need_sec = int(input())
need_min = need_sec//60
need_time = need_sec//3600
sec = need_sec%60
time += need_time
min += need_min
if min > 60:
  time = time + min//60
  min = min%60
  if time > 24:
    time = time - 24
    print(time, min, sec)
  else:
    print(time, min, sec)
else:
  print(time, min, sec)'''

#---수정----
hour, min, sec = map(int, input().split())
need_sec = int(input())

sec += need_sec % 60
need_sec = need_sec//60
if sec >= 60:
  sec -= 60
  min += 1

min += need_sec % 60
need_sec = need_sec//60
if min >= 60:
  min -= 60
  hour = hour + 1

hour = hour + need_sec%24
if hour >= 24:
  hour = hour - 24

print(hour, min, sec)

In [ ]:
H, M, S = map(int, input().split())
D = int(input()) 

S += D % 60
D = D // 60
if S >= 60:
    S -= 60
    M += 1

M += D % 60
D = D // 60
if M >= 60:
    M -= 60
    H += 1

H += D % 24
if H >= 24:
    H -= 24

print(H,M,S)

In [ ]:
import math as m
#수록곡의 갯수와 평균값
song, avg = map(int, input().split())
#저작권이 있는 노래 최소 갯수
min_copyright_song = (avg-1) * song + 1
print(min_copyright_song)

In [ ]:
# 백준 파이썬 5355 화성식
# 케이스 갯수
t = int(input())
# 수식 입력
for j in range(t):
  a = input().split()
  b = 0
  for i in range(len(a)):
    if i == 0 :
      b =+ float(a[i])
    else :
      if a[i] == '@':
        b = b * 3
      elif a[i] == '%':
        b = b + 5
      elif a[i] == '#':
        b = b - 7
  print('%.2f' % b)

In [ ]:
# 백준 파이썬 2675 문자 반복
t = int(input())
for i in range(t): #변수 부분 '_'로 대체 가능
  a, b = input().split()
  for i in range(len(b)) : #바로 문자열로 범위 지정 가능
    print(int(a)*b[i], end = '')
  print()

#t에 바로 입력 안하고 range에 바로 인풋을 받아버리는 방법도 있음.

In [ ]:
# 백준 파이썬 2935
a = int(input())
b = input()
c = int(input())
if b == '+' :
  print(a+c)
elif b == '*':
  print(a*c)

In [ ]:
# 백준 파이썬 9498 학점
a = int(input())
if 90<= a <= 100 :
  print('A')
elif 80<= a < 90 :
  print('B')
elif 70<= a < 80 :
  print('C')
elif 60<= a < 70 :
  print('D')
elif 0<= a <60 :
  print('F')

In [ ]:
# 백준 파이썬 10817 2번째로 큰 수
a = list(map(int, input().split()))
for j in range(len(a)-1):
  for i in range(len(a)-1):
    if (a[i]) > (a[i+1]):
      a[i], a[i+1] = a[i+1], a[i]
print(a[-2])

In [ ]:
# 백준 파이썬 11653 소인수분해
a = int(input())
if a == 1 :
  print('')

for i in range(2,a+1):
  if a % i == 0 :
    while a % i == 0:
      print(i)
      a = a / i

In [ ]:
# 백준 파이썬 1789 수들의 합
a = int(input())
i = 1

In [ ]:
#백준 10250 ACM호텔
t = int(input())
h, w, n = map(int,input().split())
room = []
for i in range(h):
  line = []
  for j in range(w):
    line.append(0)
  room.append(line)

for j in range(w):
  for k in range(h):
    if room[k][j]==0:
      room[k][j]=(100*(k+1))+(j+1)

for i in range(t):
  print(room[(n%h)-1][n//h])

In [ ]:
#백준 11726 2xn 타일링

memory = {1:1, 2:2}
def tile(n):
    if n <= 3:
      return n
    elif 3<n<1001 :
      return tile(n-2) + tile(n-1)

print((tile(int(input()))%10007))

In [ ]:

def solution(s):

    if s[0] != '0' and 1<=len(s)<=5:
        answer = (int(s))
        return answer
        print(answer)

1234

1234

In [ ]:
def solution(n):
    answer = ''
    if n <= 10000 :
        for i in range(n) :
            if i % 2 == 0:
                answer += '수'
            else:
                answer += '박'
        return answer
    print(answer)


solution(2)

'수박'

In [ ]:
memory = {1: 1, 2: 1}

def fibonacci(n):
    if n in memory:
        number = memory[n]
    else:
       number = fibonacci(n-1) + fibonacci(n-2)
       memory[n] = number
    return number

print(fibonacci(100))

354224848179261915075

In [ ]:
n = int(input())
dp =[0]*10000
dp[1],dp[2] = 1,2
for i in range(3,10000):
    dp[i] = dp[i-2]+dp[i-1]

print(dp[n])

40
165580141

In [ ]:
#내맘대로 문자열

def solution(strings, n):
  list_len = len(strings)
  for i in range(list_len):
    for j in range(1,list_len):
      if strings[j-1][n] > strings[j][n]:
        strings[j-1], strings[j] = strings[j], strings[j-1]
      elif strings[j-1][n] == strings[j][n]:
        if strings[j-1] > strings[j]:
          strings[j-1], strings[j] = strings[j], strings[j-1]
  return strings

print(solution(["abce", "abcd", "cdx", "cdef", "fee", "abx"], 2))

['abcd', 'abce', 'cdef', 'fee', 'abx', 'cdx']

In [ ]:
def strange_sort(strings, n):
    '''strings의 문자열들을 n번째 글자를 기준으로 정렬해서 return하세요'''
    return sorted(strings, key=lambda x: x[n])

strings = ["abce", "abcd", "cdx", "cdef", "fee", "abx"] 
print(strange_sort(strings, 2))

['abce', 'abcd', 'cdef', 'fee', 'cdx', 'abx']

In [ ]:
# 백준 14916

# 거스름돈은 2원, 5원 / 거스름돈은 동전의 갯수가 최소

money = int(input())

a = [-1, 1, -1, 2, 1, 3, 2, 4, 3, 2] 
b = [4, 3, 5, 4, 3, 5, 4, 6, 5, 4] 

if money <= 10:
  print(a[money-1])
else:
  print(b[(money%10)-1]+(2*((money//10)-1)))

213342
42669

In [ ]:

money = int(input())

count = 0

while True:
  if money % 5 == 0:
    count += money//5
    break
  else:
    money -= 2
    count += 1
  if money <0:
    break
  
if money<0:
  print(-1)
else:
  print(count)

213342
42669

In [ ]:
## 백준 1789 수들의 합

s = int(input())
n = 1

while (n*(n+1))/2 <= s:
  n = n + 1

print(n-1)

200
19

In [ ]:
# 백준 2753 윤년
year = int(input())

if year %4 ==0 and year % 100 != 0:
  print(1)
elif year % 400 == 0:
  print(1)
else:
  print(0)

2012
1

In [ ]:
# 백준 10039 평균 점수

score = []
for i in range(5):
  score.append(int(input()))

for j in range(5):
  if score[j] <40:
    score[j] = 40

print(int(sum(score)/5))

In [ ]:
# 백준 1934 최소공배수
# 1 번답 시간초과
t = int(input())
for i in range(t):
  n = 1
  a, b = map(int, input().split())
  while n <= (a * b):
    if n % a == 0 and n % b == 0 :
      print(n)
      break
    else:
      n += 1


## 유클리드 호제법 풀이
def gcd(x, y):  #최대공약수 구하기
  if y == 0:
    return x
  else:
    return gcd(y, x%y)
  
def lcm(x, y):  ## 최소공배수 구하기
  result = (x*y) // gcd(x,y)
  return result

num = int(input())
for i in range(num):
  x, y = map(int, input().split())
  print(lcm(x, y))

3
10 333
3330
52 22
572
13 17
221

In [18]:
# 백준 2480 주사위 세개
a = list(map(int, input().split()))
same_count=[]
for i in range(1,7):
  same_count.append(a.count(i))
if max(same_count)==3 :
  same_num = same_count.index(3)+1
  print(10000+1000*same_num)
elif max(same_count)==2:
  same_num = same_count.index(2)+1
  print(1000+100*same_num)
elif max(same_count)==1:
  print(100*max(a))

2 3 3 4 4 4 5
14000

In [20]:
# 백준 4101 크냐?

while True:
  a, b = map(int, input().split())
  if a==0 and b==0:
    break
  elif a > b :
    print('Yes')
  else:
    print('No')

19 20
No
20 1
Yes
0 0