<a href="https://colab.research.google.com/github/RealMyeong/python3-study/blob/main/baekjoon_0804.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 백준 2741 N찍기
N = int(input())
i = 1
while i <= N:
  print(i)
  i += 1

5
1
2
3
4
5

In [ ]:
# 백준 2742 기찍N
N = int(input())
while True:
  print(N)
  N -= 1
  if N==0:
    break

5
5
4
3
2
1

In [ ]:
# 백준 2739 구구단
N = int(input())
for i in range(1,10):
  print(f'{N} * {i} = {N*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [1]:
#백준 2438 별 찍기 - 1
N = int(input())
i = 1
for _ in range(N):
  print(i*'*')
  i += 1

5
*
**
***
****
*****

In [14]:
#백준 2439 별 찍기 - 2
N = int(input())
i = 1
for _ in range(N):
  print(' '*(N-i)+'*'*i)
  i += 1

5
    *
   **
  ***
 ****
*****

In [15]:
# 백준 2440 별 찍기 - 3
N = int(input())
for i in range(N):
  print('*'*(N-i))

5
*****
****
***
**
*

In [16]:
# 백준 2441 별 찍기 - 4
N = int(input())
for i in range(N):
  print(' '*i+'*'*(N-i))

5
*****
 ****
  ***
   **
    *