<a href="https://colab.research.google.com/github/RealMyeong/python3-study/blob/main/8/baekjoon_0820.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#백준 10718 we love kriii

print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [2]:
#백준 10926 ??!
s = input()
print(s+'??!')

baekjoon
baekjoon??!

In [ ]:
#백준 18108 1998년생인 내가 태국에서는 2541년생?!
n = int(input())
print(n-543)

In [4]:
#백준 3003 킹, 퀸, 룩, 비숍, 나이트, 폰
a = [1,1,2,2,2,8]
b = list(map(int, input().split()))
for i in range(len(a)):
  print(a[i]-b[i], end=' ')

2 1 2 1 2 1
-1 0 0 1 0 7

In [5]:
print("\    /\ ")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [10]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [11]:
def leaf():
   print('         ,r\'\"7')
   print('r`-_   ,\'  ,/')
   print(' \. \". L_r\'')
   print('   `~\/')
   print('      |')
   print('      |')
leaf()

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [ ]:
#백준 1330 두 수 비교하기
a, b = map(int, input().split())
if a>b :
  print('>')
elif a<b:
  print('<')
elif a==b:
  print('==')

In [ ]:
#백준 14681 사분면 고르기
x = int(input())
y = int(input())
if x>0 and y >0:
  print(1)
elif x>0 and y<0:
  print(4)
elif x<0 and y>0:
  print(2)
elif x<0 and y<0:
  print(3)

In [ ]:
#백준 25403 영수증
import sys
X = int(sys.stdin.readline())
N = int(sys.stdin.readline())
total = 0
for i in range(N):
  price, num = map(int, sys.stdin.readline().split())
  total += price * num
if total == X:
  print('Yes')
else:
  print('No')

In [ ]:
#백준 15552 빠른 A+B
import sys
T = int(sys.stdin.readline())
for _ in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print(A+B)

In [ ]:
#백준 10951 A+B - 4
import sys
while True:
  a= list(map(int, sys.stdin.readline().split()))
  if len(a) != 2:
    break
  else:
    print(sum(a))

In [17]:
#백준 1110 더하기 사이클
N = int(input())
if 0< N < 10:
  a = 0
  b = N
elif N == 0 :
  print(1)
else:
  a = N // 10
  b = N % 10

i = 1
while N != 0:
  c = a + b
  a = b
  b = c % 10
  if 10*a + b == N:
    print(i)
    break
  i += 1

0
1